/* google font */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,400;1,100&display=swap');
*,*::before,*::after{
    margin: 0;
    padding: 0;
}
body{
background: rebeccapurple;
height: 2000px;
}
.navbar{
    padding: 40px;
    background:white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    font-family: 'Josefin Sans', sans-serif;
}
.img{
    flex-grow: 1;
    /* background: yellow */
}
.list-content{
    flex-grow: 1;
    /* background: rgb(0, 255, 17); */
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.list-content>.list{
    list-style-type: none;
    display: flex;
    justify-content: center;
    display: flex;
    /* position: relative; */
}
.list-content>.list>li{
    position: relative;
}
.list-content>.list>li>a{
    margin-left: 30px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    /* background: violet; */
    position: relative;
    /* opacity: 0; */
}
.list-content>.list>li>a::after{
    content: "";
    position:absolute;
    width: 50%;  
    border-bottom: 2px solid #FF2020;
    top: 18px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: 1s all;
    opacity: 0;
}
.list-content>.list>li>a:hover::after{
    transform:scaleX(200%);
    opacity: 1;
}
.list-content>.list>li>.DropDown{
    position: absolute;
    background: white;
    font-family: 'Josefin Sans', sans-serif;
    color: gray;
    width: 120px;
    list-style-type: none;
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 14px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    left: 20px;
    top: 35px;
    border-top: 5px solid #FF2020;
    opacity: 0;
    transition: 1s all;
}
.DropDown::before{
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border-bottom: 6px solid #FF2020;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    left: 25px;
    top:-15px;
}
.DropDown>li{
    margin-bottom: 5px;
}
.DropDown>li:hover{
    color: #FF2020;
}
.navbar>.list-content>.list>.list-item:hover>.DropDown{
    opacity: 1;
    top: 58px;
}
.list-content>.list>li:hover>a{
    color: #FF2020;
}
.icons{
    flex-grow: 1;
    /* background: blue; */
    display: flex;
    justify-content:center;
    align-items: center;
    overflow: auto;
    font-size: 16px;
    font-weight: 100;
    color: black;
}
.icons i{
    margin-left:20px ;
}
.icons i:hover{
    color: #FF2020;
}
/* section */
.section{
    width: 100%;
    height: 800px;
    background: #f0f0f2;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    /* align-items: ce; */
    overflow: hidden;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    padding-bottom: 80px;
    padding: 0px 120px ;
}
.section>.text{
    width:60%;
    height: 100%;
    /* background: red; */
    display: flex;
    flex-flow: column ;
    box-sizing: border-box;
    padding: 250px 170px;
    overflow: hidden;
    position: relative;
}
.section>.text>.one{
    width: 100%;
    font-size: 75px;
    font-weight: 700;
    line-height: 1.2;
    color: #0b1c39;
    position: absolute;
    top: 250px;
    left: -580px;
    animation-name: animation-text;
    animation-duration:15s;
    animation-iteration-count: infinite;
    /* transition: 1s all; */
}
.section>.text>.two{
    width: 100%;
    font-size: 75px;
    font-weight: 700;
    line-height: 1.2;
    color: #0b1c39;
    position: absolute;
    top: 350px;
    left:-580px;
    animation-name: animation-text;
    animation-duration:15s;
    animation-iteration-count: infinite;
    /* transition: 1s all; */
    
}
.section>.text>p{
    width: 100%;
    color: #212025;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    margin:40px 0px;
    position: absolute;
    top: 420px;
    left: -580px;
    animation-name: animation-text;
    animation-duration:15s;
    animation-iteration-count: infinite;
}
.section>.text>button{
    box-shadow: inset 0 0 0 0 #FF2020;
    color: white;
    background: #4a4a4b;
    width: 15%;
    height:30px;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
    /* transition: 1s all; */
    border: none;
    position: absolute;
    top: 540px;
    left: -580px;
    animation-name: animation-text;
    animation-duration:15s;
    animation-iteration-count: infinite;
    transition: 0.6s all ;
}
.section>.img{
    width: 40%;
    height: 100%;
    /* background: violet; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.section>.img>img{
    width:55%;
    height:850px;
    animation-name: animations;
    animation-duration:3s;
    animation-iteration-count: infinite;
    transition: 0.4s all;
    /* background: red; */
}
@keyframes animations{
    70%{
        transform: scale(97%);
    }
    100%{transform: scale(100%);}
}
@keyframes animation-text{
    10%{
        left: 25%;
        display:block;
    }
    100%{
        left: 25%;
        display:block;
    }
}
.section>.text>button:hover{
    box-shadow: inset 120px 0 0 0 #FF2020;
}